---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{page.title}}</title>
<meta name="keywords" content="{{page.keywords}}" />
<meta name="description" content="{{page.description}}" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui"/>

{% include head_links.html %}

{% include head_scripts.html %}

</head>

<body id="body">
<!-- Page loading icon -->
<div id="loader"><img src="/img/loader2.gif" alt="please wait, site is loading"/></div>
<!-- Background -->
<div id="background"><img src="/gallery/full/12.jpg" alt=""/></div>
<!-- Logo -->
<div id="logo"><a href="index.html" title="Big Gallery"></a></div>
<!-- Menu show -->
<div id="menu-show"><div id="menu-show-arrow"></div></div>
<div id="menu-hide"><div id="menu-hide-arrow"></div></div>

<!-- Menu div start -->
{% include menu.html %}
<!-- Menu div end -->

<div id="fullscreen"><div id="fullscreen_icon" title="Toggle fullscreen" class="qtip"></div></div>
<div id="sound"><div id="sound_icon" title="Sound on/off" class="qtip"></div></div>

<!-- page content -->
<div id="page" style="background: transparent !important; border:0 !important;">
<div class="big_header"><h1 class="big_header">{{page.title}}</h1></div>

<div id="page_top"></div>

<div class="scroll-pane">
<div class="page_block">


{{content}}

</div><!-- page-block div end -->
<div class="page-footer">&copy; Christopher MANN</div>
</div><!-- scroll-pane div end -->


</div><!-- page div end -->
<div id="img-pattern"></div>
<!-- audio player -->
<div id="audio">
	<div id="jquery_jplayer_1" class="jp-jplayer"></div>
  <div id="jp_container_1" class="jp-audio"><div class="jp-type-single"></div></div>
</div><!-- end audio div -->
</body>
</html>