#page_block p {
	margin-bottom:20px !important;
}

#page_block h1, h2, h3, h4, h5, h6 {
	margin-top:20px !important;
	margin-bottom:20px !important;
}

#page_block td {
  line-height:20px !important;
}